ansi2html==1.6.0
atomicwrites==1.4.0
attrs==21.2.0
bcj-cffi==0.5.1
bleach==4.1.0
blessings==1.7
Brotli==1.0.9
build==0.7.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
check-manifest==0.46
colorama==0.4.4
coverage==5.5
dnspython==2.1.0
docutils==0.17.1
htmlmin==0.1.12
idna==3.2
importlib-metadata==4.8.1
iniconfig==1.1.1
Jinja2==3.0.1
keyring==23.2.1
lark==1.0.0
MarkupSafe==2.0.1
multivolumefile==0.2.3
numpy==1.21.2
packaging==21.0
pandas==1.3.3
pep517==0.11.0
pkginfo==1.7.1
pluggy==1.0.0
ply==3.11
py==1.10.0
py7zr==0.16.1
pycparser==2.20
pycryptodomex==3.10.1
Pygments==2.10.0
pymongo==3.12.1
pyparsing==2.4.7
pyppmd==0.16.1
pytest==6.2.5
pytest-reporter==0.5.2
pytest-reporter-html1==0.8.2
python-dateutil==2.8.2
pytz==2021.1
pywin32-ctypes==0.2.0
pyzstd==0.14.4
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
tabulate==0.8.9
texttable==1.6.4
toml==0.10.2
tomli==1.2.1
tqdm==4.62.2
twine==3.4.2
typing-extensions==3.10.0.2
urllib3==1.26.6
webencodings==0.5.1
zipp==3.5.0
